@keyframes spinner {
  0% {
    stroke-dashoffset: 280;
    transform: rotate(0deg);
  }

  50% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.rotate {
  animation:
    rotate 1.4s linear infinite;

}

.spinner {
  animation:
    spinner 1.4s ease-in-out infinite both;
}

