target/
node_modules/
output/
output_images/
.env
backend/data-pipeline/job_data

*.pem
*.tgz
lilac.toml
# Local Kubeconfig
backend/kubeconfig.yaml

*/skypilot/*
*/toolchain/*
worker/*
docs/*
agent-old-copy/*
sample-hello-job/*
sample-pytorch-job/*
