@import 'tailwindcss';
@import 'tw-animate-css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));
@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --gray-background-1: var(--slate-1);
  --gray-background-2: var(--slate-2);
  --gray-secondary: var(--slate-3);
  --gray-secondary-hover: var(--slate-4);
  --gray-secondary-focus: var(--slate-5);
  --gray-secondary-foreground: black;
  --gray-border-subtle: var(--slate-6);
  --gray-border: var(--slate-7);
  --gray-border-hover: var(--slate-8);
  --gray-ring: var(--slate-6);
  --gray: var(--slate-9);
  --gray-hover: var(--slate-10);
  --gray-text-muted: var(--slate-11);
  --gray-text: var(--slate-12);
  --gray-foreground: black;
  --gray-surface: #eeeeefaa;
  --gray-indicator: var(--slate-9);
  --gray-track: var(--slate-9);

  --accent-background-1: var(--iris-1);
  --accent-background-2: var(--iris-2);
  --accent-secondary: var(--iris-3);
  --accent-secondary-hover: var(--iris-4);
  --accent-secondary-focus: var(--iris-5);
  --accent-secondary-foreground: black;
  --accent-border-subtle: var(--iris-6);
  --accent-border: var(--iris-7);
  --accent-border-hover: var(--iris-8);
  --accent-ring: var(--iris-6);
  --accent: var(--iris-9);
  --accent-hover: var(--iris-10);
  --accent-text-muted: var(--iris-11);
  --accent-text: var(--iris-12);
  --accent-foreground: white;
  --accent-secondary-foreground: var(--gray-text);
  --accent-contrast: var(--iris-contrast);
  --accent-surface: var(--iris-surface);
  --accent-indicator: var(--iris-indicator);
  --accent-track: var(--iris-track);

  --background: var(--accent-background-2);
  --foreground: black;

  --destructive: var(--red-9);
  --destructive-foreground: white;
  --destructive-hover: var(--red-10);

  --radius: 0.75rem;
  --chart-1: oklch(64.6% 0.222 41.116);
  --chart-2: oklch(60% 0.118 184.704);
  --chart-3: oklch(39.8% 0.07 227.392);
  --chart-4: oklch(82.8% 0.189 84.429);
  --chart-5: oklch(76.9% 0.188 70.08);
}

.dark {
  --accent-secondary-foreground: white;
  /* --background: var(--accent-background-2); */
  --foreground: white;
  --gray-surface: #1f212380;

  --radius: 0.75rem;
  --chart-1: oklch(64.6% 0.222 41.116);
  --chart-2: oklch(60% 0.118 184.704);
  --chart-3: oklch(39.8% 0.07 227.392);
  --chart-4: oklch(82.8% 0.189 84.429);
  --chart-5: oklch(76.9% 0.188 70.08);
}

@theme inline {
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-background-1: var(--gray-background-1);
  --color-gray-background-2: var(--gray-background-2);
  --color-gray-secondary: var(--gray-secondary);
  --color-gray-secondary-hover: var(--gray-secondary-hover);
  --color-gray-secondary-focus: var(--gray-secondary-focus);
  --color-gray-border-subtle: var(--gray-border-subtle);
  --color-gray-border: var(--gray-border);
  --color-gray-border-hover: var(--gray-border-hover);
  --color-gray-ring: var(--gray-ring);
  --color-gray: var(--gray);
  --color-gray-hover: var(--gray-hover);
  --color-gray-text-muted: var(--gray-text-muted);
  --color-gray-text: var(--gray-text);
  --color-gray-foreground: var(--gray-foreground);
  --color-gray-secondary-foreground: var(--gray-secondary-foreground);
  --color-gray-surface: var(--gray-surface);
  --color-gray-indicator: var(--gray-indicator);
  --color-gray-track: var(--gray-track);

  --color-accent-background-1: var(--accent-background-1);
  --color-accent-background-2: var(--accent-background-2);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-secondary-hover: var(--accent-secondary-hover);
  --color-accent-secondary-focus: var(--accent-secondary-focus);
  --color-accent-border-subtle: var(--accent-border-subtle);
  --color-accent-border: var(--accent-border);
  --color-accent-border-hover: var(--accent-border-hover);
  --color-accent-ring: var(--accent-ring);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-text-muted: var(--accent-text-muted);
  --color-accent-text: var(--accent-text);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-secondary-foreground: var(--accent-secondary-foreground);
  --color-accent-surface: var(--accent-surface);
  --color-accent-indicator: var(--accent-indicator);
  --color-accent-track: var(--accent-track);

  --color-slate-1: var(--slate-1);
  --color-slate-2: var(--slate-2);
  --color-slate-3: var(--slate-3);
  --color-slate-4: var(--slate-4);
  --color-slate-5: var(--slate-5);
  --color-slate-6: var(--slate-6);
  --color-slate-7: var(--slate-7);
  --color-slate-8: var(--slate-8);
  --color-slate-9: var(--slate-9);
  --color-slate-10: var(--slate-10);
  --color-slate-11: var(--slate-11);
  --color-slate-12: var(--slate-12);

  --color-sand-1: var(--sand-1);
  --color-sand-2: var(--sand-2);
  --color-sand-3: var(--sand-3);
  --color-sand-4: var(--sand-4);
  --color-sand-5: var(--sand-5);
  --color-sand-6: var(--sand-6);
  --color-sand-7: var(--sand-7);
  --color-sand-8: var(--sand-8);
  --color-sand-9: var(--sand-9);
  --color-sand-10: var(--sand-10);
  --color-sand-11: var(--sand-11);
  --color-sand-12: var(--sand-12);

  --color-iris-1: var(--iris-1);
  --color-iris-2: var(--iris-2);
  --color-iris-3: var(--iris-3);
  --color-iris-4: var(--iris-4);
  --color-iris-5: var(--iris-5);
  --color-iris-6: var(--iris-6);
  --color-iris-7: var(--iris-7);
  --color-iris-8: var(--iris-8);
  --color-iris-9: var(--iris-9);
  --color-iris-10: var(--iris-10);
  --color-iris-11: var(--iris-11);
  --color-iris-12: var(--iris-12);

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);

  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background text-foreground h-screen w-screen;
  }
}
